.bannerSection{
    height: 550px;
    position: relative;
    width: 100%;
}

.bannerText{
    position: absolute;
    top: 50%;
    transform: translate(77px, -50%);
    width: 35%;
    font-size: 72px;
    color: white;
}

@media screen and (max-width:500px) {
    .bannerText{
        font-size: 3rem;
    }
}